# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [ ]:
import pandas as pd 
import numpy as np 
url= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df= pd.read_csv (url)

def format_column_names(df):
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')
    return df
df= format_column_names(df)
print (df.columns)

In [ ]:


# cleaning 

df['gender'] = df['gender'].str.lower().replace({'f': 'F', 'femal': 'F', "female":"F",'m':"M","male": 'M'})
state_mapping = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
df['state'] = df['state'].replace(state_mapping)
df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})
vehicle_class_mapping = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}
df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_mapping)
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str).str.replace('%', '').astype(float)

#cleaning  check
print(df['gender'].unique())
print(df['state'].unique())
print(df['education'].unique())
print(df['customer_lifetime_value'].unique())
print(df['vehicle_class'].unique())

#numerical
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
is_numerical = pd.api.types.is_numeric_dtype(df['customer_lifetime_value'])
is_numerical

# null 
cleaned_null = df.dropna(axis=0, how='any').dropna(axis=1, how='any')
print(df.info())

# duplicate
duplicates = df.duplicated()
print(duplicates.sum())
df_first_occurrence = df.drop_duplicates()
#check
no_duplicates_check = df_first_occurrence.duplicated().sum()
print("\nNumber of Duplicate Rows after Handling:", no_duplicates_check)

# Save the cleaned dataset to a new CSV file (index = false reboot index )
df_first_occurrence.to_csv('cleaned_dataset_first_occurrence.csv', index=False)

# look if it works
print(df_first_occurrence.info())

In [ ]:
print(df['response'].unique())

In [ ]:
duplicates = df[df.duplicated()]
num_duplicates = len(duplicates)
print(num_duplicates)

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [ ]:
customer1000_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
print(customer1000_df)

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [ ]:
yes_df= df[df['response'] == 'Yes']

average_claim_amount = yes_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()

print(average_claim_amount)
#the claim amount mean are pretty similar but both corporate and special  categorie women have a tendancy to spend more

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [ ]:
#Analyze the total number of customers who have policies in each state
state_count_df = df.groupby('state')['customer'].count().reset_index()
print(state_count_df)

In [ ]:
more_500_state_count_df= state_count_df [state_count_df["customer"]>500]
more_500_state_count_df
#they are more than 500 in all

In [ ]:
df["state"].unique()

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [28]:
summary_statistics = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()
summary_statistics
#The maximum customer lifetime values across education levels and gender and woman have globally a have a higher median value

              education gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here